@mixin table-border {
	border-collapse: collapse;
	border: 1px solid black;
}

@mixin title($color) {
	text-align: center;
	color: $color;
}

body {
	background: #f9f9f9;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
	border-bottom: 2px solid #ddd;
	margin: 0 0 2em;
	padding: 0;
	width: 100%;
}

footer {
	bottom: 5px;
	font-size: small;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
}

h1 {
	@include title(green);
}

h6 {
	@include title(#777);
	margin: 2em 0 1em 0;
}


table {
	@include table-border;
}

th, td {
	@include table-border;
	padding: 0.25em;
	text-align: center;
	width: 75px;
}

article {
	margin: 0 auto;
	width: fit-content;
}
